/**********************************/
/********** General CSS ***********/
/**********************************/


body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #3F69AA;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #666666;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666666;
    margin: 0 0 15px 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    background: linear-gradient(to bottom, rgb(24, 223, 24), rgb(248, 230, 230));
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}



/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border-radius: 5px;
    margin-bottom: 15px
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    border-color: #0fa929;
    border-radius: 50px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #0fa929;
    background: #0fa929;
}

button.btn {
    color: #ffffff;
    background: #0fa929;
    border-radius: 0;
}



/**********************************/
/********* Top Header CSS *********/
/**********************************/
.top-header {
    padding: 15px 0;
    background: #20f5d1;
    font-family: "Montserrat", sans-serif;
}

.top-header .logo {
    text-align: left;
    overflow: hidden;
}

.top-header .logo a img {
    max-height: 60px;
}

.top-header .search {
    width: 100%;

}

.top-header .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: none;
    border-radius: 50px;
}

.top-header .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #666666;
}

.top-header .search button:hover {
    background: #10ceae;
    color: #ffffff;
    border-radius: 50px;
    transition: 0.3s;
}

.top-header .user {
    width: 100%;
    text-align: right;
}

.top-header .user .dropdown {
    display: inline-block;
    margin-right: 15px;
    border-radius: 5px;
}

.top-header .user .dropdown-menu {
    border-radius: 0;
}

.top-header .user .cart {
    display: inline-block;
}

.top-header .user .cart i {
    color: #3F69AA;
    font-size: 18px;
}

.top-header .user .cart span {
    color: #666666;
    font-size: 14px;
}

@media (min-width: 768px) {
    .top-header {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .top-header .logo,
    .top-header .search,
    .top-header .user {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .top-header .user {
        margin-bottom: 0;
    }
}



/**********************************/
/********* Header Nav CSS *********/
/**********************************/
.header {
    position: relative;
    font-family: "Montserrat", sans-serif;

}

.header .navbar {
    height: 100%;
    padding: 0;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .header,
    .header .navbar {
        background: #10ceae !important;
    }
    
    .header .navbar-brand {
        display: none;
    }
    
    .header a.nav-link {
        padding: 10px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {   
    .header,
    .header .navbar {
        background: #333333 !important;
    }
    
    .header a.nav-link {
        padding: 5px;
    }
    
    .header .dropdown-menu {
        box-shadow: none;
    }
}


/**********************************/
/********* Breadcrumb CSS *********/
/**********************************/
.breadcrumb-wrap {
    position: relative;
    width: 100%;
    background: #dfdede7f;
}

.breadcrumb-wrap .breadcrumb {
    margin: 0 0 0 0;
    padding: 8;
    background: none;
}


/**********************************/
/********* THANKS CSS *********/
/**********************************/



.text{
    /* font-family: "Comfortaa", cursive; */
    line-height: 50px;
}
.text h1{
    font-size: 30px;
    padding: 50px;
}
.text h2{
    font-size: 15px;
}
#happy{
    display: block;
    margin: auto;
    margin-bottom: 30px;

}
#happy:hover{
    transform: translate(3ch, 3mm, -2ch, -2mm);
    transition: 0.5s;
}
#return{
    border: none;
    text-decoration: none;
    background-color: rgb(230, 221, 221);
    display: block;
    margin: auto;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    /* font-family: "Comfortaa", cursive;    */
    margin-bottom: 30px;             
}
#return:hover{
    background-color: #ffff;
    transition: 0.3s;
}
h3{
    /* font-family: "Comfortaa", cursive; */
    font-size: 11px;
    text-align: center;
}
    
/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 60px 0 0 0;
    background-image: linear-gradient(to right, #13d033 , #57a464);
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 992px) {
    .footer .container-fluid {
        max-width: 95%;
    }
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.footer .footer-widget h1 {
    color: #ffffff;
    margin-bottom: 18px; 
}

.footer .footer-widget .title {
    color: #ffffff;
    white-space: nowrap;
}

.footer .footer-widget p {
    color: #ffffff;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #ffffff;
    white-space: nowrap;
    display: block;
    line-height: 23px;
}

.footer .footer-widget ul li a::before {
    content: '\f061';
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    padding-left: 10px; 
}

.footer .contact-info p {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 16px;
}

.footer .contact-info p i {
    color: #ffffff;
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 35px;
    height: 35px;
    padding: 2px 0;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}

.footer .social a i {
    color: #ffffff;
}

.footer .social a:hover{
    background-color: #13d033;
}

.footer .payment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #4977bf;
}

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method,
    .footer .payment-security {
        text-align: center; 
    } 
}

.footer .payment-method p,
.footer .payment-security p{
    display: inline-block;
    margin: 0 10px 0 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}